body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted none none;
  border-color: #EAF6F6;
  border-width: 10px;
  width: 5%;
  margin: 100px auto 100px auto
}


.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding-bottom: 100px;
}

.top-cloud {
  position: absolute;
  right: 700px;
  top: 50px
}

.bottom-cloud {
  position: absolute;
  left: 700px;
  bottom: 300px
}

.footer-link {
  color: #11999E;
  margin: 1000px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.chicken {
  width: 15%;
  float: left;
  margin-right: 100px;
}

.ball {
  width: 15%;
  float: right;
  margin-left: 100px;
}
